body{
	background-image: url("stardust/stardust.png");
	background-repeat: repeat;
}

aside{
	width:200px;
	height: 200px;
	margin:10px;
	float:right;
	text-align: right;
	font-size: '5';
	font-family: courier;
}

article{
	font-size: 3;
	font-family: courier;
}

#encompass{
	position:absolute;
	background-color:#FFFFFF;
	top:12%;
	left:16%;
	height:2750px;
	width:900px;
}

#content{
	position:absolute;
	margin-top: 6%;
	left:6%;
	width:85%;
}

/*Use of floar and new html identifiers like aside, article
as mentioned in the codeschool css course to create multi columned
or text wrapped elements*/