h1{
	font-family:Tahoma, Geneva, sans-serif

	font-size:2;
	background-color:#FFFFFF;

	margin-top:5px;
	margin-right:5px;
	margin-bottom:5px;
	margin-left:10px;

	padding-top:2px;
	padding-right:0px;
	padding-bottom:2px;
	padding-left:0px;
}

h2{
	font-family:Tahoma, Geneva, sans-serif

	font-size:1;
	/*background-color:#D8D8D8;*/
	margin:5px;
	padding:5px;
}

h3{
	background-color:#D8D8D8;
	margin:2px;
	padding:2px;
}

body{
	background-color:#FFFFFA;
}

#links{
	position:absolute;
	top:50px;
	left:200px;
	width:800px;
	padding-right:0px;
	padding-left:0px;
}

#content{
	position:absolute;
	top:150px;
	left:550px;
	width:500px;
}

#image{
	position:absolute;
	top:150px;
	left:200px;
	width:400px;
}

/*use font size of 2 or less for the headings.*/
/*use image size of ~500px or smaller. the image takes up an extremely large portion of the page otherwise.*/