body{
	background-image: url("grey.png");
	background-repeat: repeat;
}

aside{
	width:200px;
	height: 200px;
	margin:10px;
	float:right;
}

#links{
	position:absolute;
	top:10%;
	left:75%;
	width:8%;
}

#content{
	position:absolute;
	top:10%;
	left:6%;
	width:65%;
}

/*Use of floar and new html identifiers like aside, article
as mentioned in the codeschool css course to create multi columned
or text wrapped elements*/