body{
	background-color:#FFFFFA;
}

#links{
	position:absolute;
	top:50px;
	left:200px;
	width:800px;
	padding-right:0px;
	padding-left:0px;
}

#content{
	position:absolute;
	top:150px;
	left:550px;
	width:500px;
}

#image{
	position:absolute;
	top:150px;
	left:200px;
	width:400px;
}

/*use font size of 2 or less for the headings.*/
/*use image size of ~500px or smaller. the image takes up an extremely large portion of the page otherwise.*/