body{
	background-image: url("stardust/stardust.png");
	background-repeat: repeat;
}

aside{
	width:200px;
	height: 200px;
	margin:10px;
	float:right;
	text-align: left;
}

#encompass{
	position:absolute;
	background-color:#FFFFFF;
	top:12%;
	left:16%;
	height:1100px;
	width:900px;
	border-top: 4px solid-gray;
}

#image{
	position:absolute;
	top:50px;
	left:10%;
	width:600px;
}

#content{
	position:absolute;
	top:600px;
	left:50px;
	width:800px;
}
