body{
	background-image: url("grey.png");
	background-repeat: repeat;
}

#encompass{
	position:absolute;
	background-color:#FFFFFF;
	top:8%;
	left:1%;
	height: 80%;
	width:98%;
	background-image: url("grey.png");
	background-repeat: repeat;
}

#links{
	position:absolute;
	text-align: right;
	top:15%;
	left:2%;
	width:20%;
	padding-top: 10px;
	padding-right: 10px;
	border-left: 2px solid gray;
	border-top: 2px solid gray;
}

#image{
	position:absolute;
	top:15%;
	left:25%;
	width:25%;
	padding-top: 10px;
}

#content{
	position:absolute;
	text-align: left;
	top:15%;
	left:52%;
	width:45%;
	padding-left: 10px;
	padding-top: 10px;
	border-right: 2px solid gray;
	border-bottom: 2px solid gray;
}

#time{
	position:absolute;
	text-align: right;
	top:95%;
	left:2%;
	width:20%;
}

border: solid gray;
