body{
	background-image: url("../stardust/stardust.png");
	background-repeat: repeat;
}

aside{
	float:right;
	text-align: left;
	font-family:'Sawasdee',sans-serif;
	margin-top: 50px;
	margin-left: 5%;
}

#encompass{
	position:absolute;
	background-color:#FFFFFF;
	top:12%;
	left:16%;
	height:1200px;
	width:800px;
	border-top: 4px solid-gray;
	border-radius: 10px;
}

#image{
	position:absolute;
	top:50px;
	left:10%;
}

#links{
	position: absolute;
	top:50px;
	left:55%;
	font-family:'Sawasdee',sans-serif;
}

#content{
	position:absolute;
	top:600px;
	left:50px;
	width:85%;
	font-family:'Sawasdee',sans-serif;
}

/*
*_right.css file

body{
	background-color:#FFFFFF;
}

#content{
	position:absolute;
	top:100px;
	left:300px;
	width:600px;
}

#image{
	position:absolute;
	top:100px;
	left:1000px;
	width:400px;
}
*/