/*
#encompass{
	position:absolute;
	background-color:#FFFFFF;
	top:8%;
	left:1%;
	height: 80%;
	width:98%;
	background-image: url("grey.png");
	background-repeat: repeat;
	border-radius: 10px;
}
*/
#encompass{
	position:absolute;
	background-color:#FFFFFF;
	right: 0;
	left: 0;
	margin: auto;
	height:600px;
	width:1200px;
	border-top: 4px solid-gray;
	border-radius: 10px;
}

#links{
	position:absolute;
	text-align: right;
	top:5%;
	left:2%;
	width:20%;
	padding-top: 10px;
	padding-right: 10px;
	/*border-left: 2px solid gray;
	border-top: 2px solid gray;*/
	font-family:'Sawasdee',sans-serif;
}

#image{
	position:absolute;
	top:5%;
	left:23%;
	width:25%;
	padding-top: 10px;
}

#content{
	position:absolute;
	text-align: left;
	top:2%;
	left:52%;
	width:45%;
	padding-left: 10px;
	padding-top: 10px;
	/*border-right: 2px solid gray;
	border-bottom: 2px solid gray;*/
	font-family:'Sawasdee',sans-serif;
}

#time{
	position:absolute;
	text-align: right;
	top:95%;
	left:2%;
	width:20%;
}

border: solid gray;
