body{
	/*background-color: #000033;*/
	background-image: url("../stardust/stardust.png");
	background-repeat: repeat;
}

#encompass{
	position:absolute;
	background-color:#FFFFFF;
	right: 0;
	left: 0;
	margin: auto;
	height:1000px;
	width:800px;
	border-top: 4px solid-gray;
	border-radius: 10px;
}

#row1l{
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 20px;
	float: left;
	font-family:'Sawasdee',sans-serif;
}

#row1r{
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 100px;
	font-family:'Sawasdee',sans-serif;
}

#row2l{
	margin-top: 200px;
	margin-right: 100px;
	margin-left: 20px;
	float: right;
	font-family:'Sawasdee',sans-serif;
}

#row2r{
	margin-top: 200px;
	margin-left: 100px;
	font-family:'Sawasdee',sans-serif;
}

#row3l{
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 20px;
	float: left;
	font-family:'Sawasdee',sans-serif;
}

#row3r{
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 100px;
	font-family:'Sawasdee',sans-serif;
}