#navmenu li{
        padding: 100px 0px 0px 0px;
        display: inline;
}

#navmenu ul li a{
        font-family: 'Trebuchet', sans-serif;
        padding: 100px 50px 5px 0px;
}

body{
	background-color:#808080;
}

aside{
	float:right;
	width: 50px;
	font-family:'Sawasdee',sans-serif;
	margin-top: 25px;
	margin-left: 5%;
	margin-right:5%;
}

#encompass{
	position:absolute;
	background-color:#FFFFFF;
	right: 0;
	left: 0;
        top: 150px;
	margin: auto;
	width:1000px;
}

#image{
	position:absolute;
	top:60px;
	left:60px;
}

#links{
	position: absolute;
	top:60px;
	left:710px;
	font-family:'Sawasdee',sans-serif;
}

#content{
	position:absolute;
	top:40px;
	left:40px;
	right:125px;
	font-family:'Sawasdee',sans-serif;
}

/*
*_right.css file

body{
	background-color:#FFFFFF;
}

#content{
	position:absolute;
	top:100px;
	left:300px;
	width:600px;
}

#image{
	position:absolute;
	top:100px;
	left:1000px;
	width:400px;
}
*/
