body{
	background-color: #000000;
}

#encompass{
	position:absolute;
	background-color:#FFFFFF;
	right: 0;
	left: 0;
	margin: auto;
	height:750px;
	width:800px;
	border-top: 4px solid-gray;
	border-radius: 10px;
}

#row11{
	/*position:absolute;*/
	/*left:30%;*/
	margin-top:100px;	
	margin-left: 200px;
	float: left;
	/*text-align: left;*/
	width:200px;
}

#row12{
	/*position:absolute;*/
	/*left:60%;*/
	margin-top:100px;
	/*margin-right: 200px;*/
	float: right;
	text-align: left;
	width:200px;
}

#row21{
	/*position:absolute;*/
	/*left:30%;*/
	margin-top:350px;
	float: left;
	text-align: right;
	width:200px;
}

#row22{
	/*position:absolute;*/
	/*left:60%;*/
	margin-top:350px;
	margin-right: 200px;
	float: right;
	/*text-align: left;*/
	width:200px;
}

#row31{
	position:absolute;
	top:700px;
	left:30%;
	width:300px;
}

#row32{
	position:absolute;
	top:700px;
	left:60%;
	width:300px;
}

#row41{
	position:absolute;
	top:900px;
	left:30%;
	width:300px;
}

#row42{
	position:absolute;
	top:900px;
	left:60%;
	width:300px;
}

/* Needs to be corrected for in this case.
#time{
	position:absolute;
	top:95%;
	left:200px;
	width:400px;
}
*/ 